version: '3.9'

volumes:
  gluetun: {}
  transmission_config: {}
  transmission_watch: {}

services:
  gluetun:
    container_name: 'gluetun'
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 9091:9091 # transmission
      - 60955:60955 # transmission
      - 60955:60955/udp # transmission

    environment:
      VPNSP: 'mullvad'
      VPN_TYPE: 'wireguard'
      CITY: 'Frankfurt'
      WIREGUARD_PRIVATE_KEY: ''
      WIREGUARD_ADDRESS: '10.64.24.119/32'
      DNS_ADDRESS: '100.64.0.23'
      WIREGUARD_ENDPOINT_PORT: '51820'
      FIREWALL_OUTBOUND_SUBNETS: '192.168.0.0/24'
      BLOCK_SURVEILLANCE: 'on'
      FIREWALL_VPN_INPUT_PORTS: '60955'
    volumes:
      - gluetun:/gluetun
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped

  transmission:
    container_name: 'transmission'
    image: ghcr.io/linuxserver/transmission:3.00-r8-ls151
    network_mode: service:gluetun
    environment:
      PUID: 1001
      PGID: 1001
      TZ: 'Europe/Copenhagen'
      USER: 'admin'
      PASS: ''
    volumes:
      - transmission_config:/config
      - /docker_data/media_data/torrents:/downloads
      - /docker_data/media_data/media:/media
      - transmission_watch:/watch
    restart: unless-stopped
